/*PANELS*/
.editprd1{
    width: 1500px; 
    height: 800px;   
    overflow-x: hidden;
    background: lavender;
}

.profilenav1{
    background-color:  rgb(205, 159, 248);
    border-radius: 20px 0px 0px 20px;
}

.fupanel1{
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 1465x; 
    height: 700px; 
}

.ppanell1{
    width: 1280px;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    background-image: linear-gradient(to left,rgb(97, 122, 227, 0.4),rgb(234, 79, 207, 0.4));
}

.smallpanel1{
    background: #e0d9f5;
    width: 430px;
    height: 650px;
    margin-left: 350px;
    border-radius: 20px;
}

.bottomPanell1{
    background: linear-gradient(#facef6, #d1cdfd);
    margin-top: 30px;
    height: 330px;
    border-radius: 20px;
    padding: 20px 30px;
    display: grid;
    filter: drop-shadow(0px 4px 1px rgba(38, 35, 35, 0.297));
}


/*SMALL PANEL ELEMENTS*/
.goBackIconImage1{
    width: 40px;
    margin-left: 17px;
    padding-bottom: 165px;
}

.blankImage{
    width: 177px;
    height: 177px;
    margin-left: 115px;
    margin-top: -160px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    filter: drop-shadow(0px 2px 1px rgb(161, 159, 159));
}

.updatePhotoLink1{
    /* background: red; */
    margin-left: 169px;
    color: #409F4F;
}

.name111, .amount111, .price111{
    border-radius: 10px;
    height: 27px;
    width: 80px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 2px 1px rgb(161, 159, 159));
}

.description11{
    margin-top: 20px;
}

.amount11{
    /* background-color: blue; */
    margin-left: 288px;
    margin-top: -50px;
}

.description111{
    width: 370px;
    height: 70px;
    border-radius: 14px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 2px 1px rgb(161, 159, 159));
}

.name21, .amount21, .description21, .price21{
    margin-left: 5px;
    font-size: 16px;
}

.buttonn1{
    display: flex;
    gap: 30px;
    height:150px;
    margin-top: 50px;
}

.red1{
    background: #FF9DBB;
    border-radius: 20px;
    height: 35px;
    width: 172px;
    font-style: bold;
    font-size: 16px;
    color: white;
    border: none;
}

.blue1{
    background: #9F9DFF;
    border-radius: 20px;
    height: 35px;
    width: 172px;
    font-style: bold;
    font-size: 16px;
    color: white;
    border: none;
}