/*PANELS*/
.billDetailedView{
    width: 1500px; 
    height: 800px;   
    overflow-x: hidden;
    overflow-y: hidden;
    background: lavender;
}

.fullpanelBillDetailedView{
        display: flex;
        border-radius: 20px;
        padding: 20px;
        width: 1465x; 
        height: 700px;   
}

.panelBillDetailedView{
    width: 1280px;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    background-image: linear-gradient(to left,rgb(97, 122, 227, 0.4),rgb(234, 79, 207, 0.4));
}

.profnavfullpanelBillDetailedView{
    background-color:  rgb(205, 159, 248);
    border-radius: 20px 0px 0px 20px;
}


