# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ccc\Desktop\Subjects\Third year Spring Semester\Software Engineering\CEN-SE2022-BLACKHAT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
